.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container > div {
  width: 100%;
  height: 100%;
}

.svgContainer {
  width: 100%;
  height: 100%;
}

.svgContainer svg {
  width: 100%;
  height: 100%;
}

.fixedTitle {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 900;
  font-family: var(--font-jetbrains-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 28px;
  letter-spacing: 1.5px;
  color: #000;
  user-select: none;
  pointer-events: none;
}
