.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container > div {
  width: 100%;
  height: 100%;
}

.svgContainer {
  width: 100%;
  height: 100%;
}

.svgContainer svg {
  width: 100%;
  height: 100%;
}
